.u-section-1 {
  background-image: none;
  margin-bottom: 0px;
}

.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px 0;
}

.u-section-1 .u-form-1 {
  width: 24%;
  /* margin: 30px auto 60px; */
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.address-box {
  font-size: 1.5rem;

  color: rgba(110, 110, 110, 0.801);
}
.call-us {
  color: #ac30ff;
}
.Shining-bright {
  color: black;
}
.u-btn-rectangle {
  color: #ff7900;
}
.u-btn-req-center {
  display: flex;
  justify-content: center;
}
.contact-align {
  display: flex;
  flex-direction: row;
  text-align: left;
  line-height: normal;
  justify-content: space-evenly;
}
.just-margin {
  margin-top: 65px;
  width: 22%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.contact-center {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footer-block-1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
}
.footer-logo {
  width: 65%;
  margin: 10px 0px;
}

.bottom-contianer {
  display: flex;
  justify-content: space-evenly;
}

.footer-email {
  background-color: #333333;
  color: white;
}
.connect-margin {
  margin: 20px;
}
@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 40%;
  }
  .just-margin {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
  .contact-align {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .address-box {
    font-size: 1.3rem;
  }
  .just-margin {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .u-section-1 .u-form-1 {
    width: 90%;
    margin-left: 45px;
  }
  .header-center {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 100%;
    margin-left: 0px;
  }
  .header-center {
    display: flex;
    justify-content: center;
  }
  .bottom-contianer {
    flex-direction: column;
  }
  .footer-logo {
    width: 45%;
    min-width: 45%;
  }
  .footer-block-1 {
    align-items: center;
  }
  .footer-email {
    text-align: center;
  }
}
