@font-face {
  font-family: 'AdiHaus';
  src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdiHaus';
  src: url('https://assets.codepen.io/6060109/adihaus_bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}

body html {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  margin: 0;
}
.container {
  max-width: 350px;
  margin: 0 auto;
}
#logo {
  display: block;
  margin: auto;
  padding: 10px;
}

#shoe-img {
  background: url('images/pexels-katerina-holmes-5905483.jpg') no-repeat right;
  background-size: cover;
  height: 310px;
  width: 100%;
}

.go-button {
  background-color: #e9701f;
  width: 100px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}
h2,
p {
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.text-container {
  padding: 20px 30px;
  text-align: center;
  font-family: AdiHaus;
}

.blue {
  color: #cd2fed;
  font-weight: 400;
}

.grey {
  color: #423a3a;
  font-weight: 700;
}

p {
  margin: 20px 0 40px;
  line-height: 28px;
  font-size: 14px;
}
form {
  display: flex;
}
input[type='email'] {
  box-sizing: border-box;
  height: 48px;
  width: 75%;
  padding: 0 20px;
}

input[type='submit'] {
  width: 20%;
  height: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  background: rgb(124, 124, 124);
  background: linear-gradient(
    90deg,
    rgba(124, 124, 124, 1) 0%,
    rgba(124, 124, 124, 1) 0%,
    rgba(43, 40, 40, 1) 100%
  );
  font-weight: 700;
  font-size: 16px;
  color: white;
  border: none;
}

.desktop-image {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    background: url('https://assets.codepen.io/6060109/waves.png') no-repeat;
    background-size: cover;
    height: 937px;
  }

  .container {
    width: 70%;
    max-width: 500px;
  }
  #shoe-img {
    display: none;
  }

  #logo {
    margin: 30px 30px 100px;
    display: block;
  }

  .text-container {
    text-align: left;
  }
  .desktop-image {
    display: block;
    width: 35%;
    background: url('images/pexels-katerina-holmes-5905483.jpg') center;
    background-size: cover;
    min-width: 545px;
  }
  h2 {
    font-size: 64px;
  }
  p {
    font-size: 16px;
  }
}
