.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 996px;
  margin: 81px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 385px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 445px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 445px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 385px;
}

.u-section-1 .u-text-4 {
  width: 570px;
  margin: 30px auto 60px;
}
.sign-in-btn {
  display: flex;
  justify-content: center;
}
.protal-hr {
  width: 56%;
}

.p-text-align {
  text-align: left;
}
.header-mock {
  font-weight: bolder;
}
.top-image {
  width: 100%;
}
.u-btn-req {
  border-radius: 10px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.contact-center {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footer-block-1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
}
.footer-logo {
  width: 65%;
  margin: 10px 0px;
}

.bottom-contianer {
  display: flex;
  justify-content: space-evenly;
}

.footer-email {
  background-color: #333333;
  color: white;
}
.connect-margin {
  margin: 20px;
}
@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 420px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 359px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 420px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 650px;
    margin-bottom: -14px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-1 .u-image-1 {
    height: 255px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-1 .u-image-2 {
    height: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 428px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 737px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 737px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
    margin-bottom: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 294px;
    margin-bottom: -8px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-1 .u-image-1 {
    height: 454px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-1 .u-image-2 {
    height: 454px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    margin-bottom: 60px;
  }
  .bottom-contianer {
    flex-direction: column;
  }
  .footer-logo {
    width: 45%;
    min-width: 45%;
  }
  .footer-block-1 {
    align-items: center;
  }
  .footer-email {
    text-align: center;
  }
}
