.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px 485px 0 1px;
}

.u-section-1 .u-group-1 {
  width: 98%;
  min-height: 495px;
  background-image: none;
  margin: 33px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px;
  background-color: #f6be05;
  border-radius: 25px;
  width: 50%;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 85px 20px 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 33px auto 0 0;
  border-radius: 10px;
}

.u-section-1 .u-list-1 {
  width: 740px;
  margin: -636px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 636px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 55px 30px 30px;
  background-color: #9063cd;
  border-radius: 25px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 55px 30px 30px;
  background-color: #e10199;
  border-radius: 25px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-container-layout-4 {
  padding: 55px 30px 30px;
  background-color: #00b0f0;
  border-radius: 25px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0;
}

.u-section-1 .u-text-8 {
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-container-layout-5 {
  padding: 55px 30px 30px;
  background-color: #fe5103;
  border-radius: 25px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0;
}

.u-section-1 .u-text-10 {
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}
.package-buttons {
  display: flex;
}
@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 97%;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: 610px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-icon-2 {
    padding: 10px;
  }

  .u-section-1 .u-icon-3 {
    padding: 10px;
  }

  .u-section-1 .u-icon-4 {
    padding: 10px;
  }

  .u-section-1 .u-icon-5 {
    padding: 10px;
  }
  .package-buttons {
    display: flex;
  }
  .side-logo-laptop {
    width: 97%;
  }
  .u-section-1 .u-btn-1 {
    font-size: 0.55rem;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-1 .u-group-1 {
    min-height: 427px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }
  .side-logo-laptop {
    display: none;
  }
  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .package-buttons {
    display: flex;
    flex-direction: column;
  }
  .side-logo-laptop {
    display: none;
  }
  .u-btn-req {
    padding-left: 29px;
    padding-right: 23px;
  }
  .u-btn-now {
    padding-left: 34px;
    padding-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-group-1 {
    min-height: 503px;
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
